<!DOCTYPE html>
<html>
<head>
  <title>Myrubyblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', debug: true %>
  <%= javascript_include_tag 'app-bundle', debug: true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>